.top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#h1p{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    border: none;
    background-color: red;
    padding: 12px 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-bottom: 20px;
    transition: 1s;
}
button:hover{
    background-color: rgb(253, 73, 73);
}
.def{
    margin-left: 560px;
    font-family: Arial, Helvetica, sans-serif; 
}
#demo{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 560px; 
}